* {
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  scroll-behavior: smooth;
}

// VARIABLE DE COLORES
$principal: #ffffff;
$secundario: #ff6b81fd;
$terceario: #242424;
$fondo: lightgray;

// NAVBAR /
/* NAVBAR */
nav {
  font-weight: 750;
  background-color: $terceario;
}

body {
  background-color: $principal;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 1.2em;
}

// header
.header {
  background-image: url(./image/fondoheader.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  .shadow {
    width: 100%;
    height: 50vh;
    background-color: $terceario;
    background-size: cover;
    opacity: 0.7;
    filter: blur(1px);
    position: absolute;
  }
  .bg-text {
    color: $principal;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
      font-size: 3em;
      font-weight: 700;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 500;
      font-style: italic;
    }
  }
}
//1er section
.content-section {
  margin: 1em;
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    .section-header {
      font-family: var(--font);
      font-weight: normal;
      color: #333;
      text-align: center;
      font-size: 2.5em;
    }
  }
}
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .shop-item {
    margin: 30px;
    .shop-item-title {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
      color: $terceario;
      margin-bottom: 15px;
      .shop-item-image {
        height: 250px;
      }
    }
    .shop-item-details {
      display: flex;
      align-items: center;
      padding: 5px;
      .shop-item-price {
        flex-grow: 1;
        color: $terceario;
      }
    }
  }
}

//carrito
#cart-container {
  .cart-row {
    display: flex;

    .cart-header {
      font-weight: bold;
      font-size: 1.25em;
      color: $terceario;
    }
    .cart-column {
      display: flex;
      align-items: center;
      border-bottom: 1px solid black;
      margin-right: 1.5em;
      padding-bottom: 10px;
      margin-top: 10;
    }
    .cart-item {
      width: 45%;
      .cart-item-title {
        margin: 20px;
        font-weight: bold;
        color: $terceario;
      }
    }
    .cart-price {
      width: 20%;
      font-size: 1.2em;
      color: $terceario;
    }
    .cart-quantity {
      width: 35%;
      .cart-quantity-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid $terceario;
        background-color: $principal;
        color: #333;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;
      }
    }
  }
}
.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

//tabla cart

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  .btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
  }
}

// contacto
#contact {
  font-weight: 700;
  width: 100%;
  max-width: 1100px;
  padding: 20 20;
  gap: 20;
  margin: 20 20;
  div {
    background-color: $terceario;
    margin: 20;
    height: 100%;
    color: $principal;

    align-items: center;
    text-align: center;

    .social-media {
      border-left: $principal solid 1px;
      font-weight: 700;
      background-color: none;
    }
  }
}

// /* FOOTER */
footer {
  background-color: $terceario;
  color: $principal;
  font-weight: 600;
}

// modal
